@import './styles/color-palette';
@import './styles/px_to_em';
@import './styles/typefaces';
@import './styles/typography';


/* Main Layout ---------*/

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack-body;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-eerie-black-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: flex;
}

.body-container {
  //max-width: 1080px;
  margin: auto;
}

.section-container {
  padding-left: rem(4px);
}

.nav-container {
  //min-width: 252px;
  background: $color-gunmetal-blue-base;
  display: flex;
  flex-direction: column;
  width: 27.6vw;
}

.nav-inner-container {
  display: flex;
  flex-direction: column;
  padding-left: 8.6vw;
}

.main-container {
  //max-width: 618px;
  max-width: 48vw;
  margin-left: 9%;
  //margin-right: 14.4%;

}

/* Social Icons ---------*/


.social-icons {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(45px);

  &__github, 
  &__twitter, 
  &__linkedin {
    width: rem(22px);
    height: rem(22px);
    margin-right: rem(28px);
  }

  &__linkedin {
    position: relative;
    top: rem(2px);
  }

  &__twitter {
    position: relative;
    top: rem(4px);
  }
}


/* Typography Styles ---------*/

.main-section {
  h2 {
    margin-top: rem(51px);
  }

  p:first-of-type {   // the first paragraph of every section has a larger padding 
    margin-top: rem(17px);
  }

  p {
    margin-top: rem(22px);
  }
}

h1 {
  @extend %typography-h1-display;
}

h2 {
  @extend %typography-h2-main-title;
}

h3 {
  @extend %typography-h3-subtitle;
}

.nav-link {
  @extend %typography-menu-link;
}

ul li {
  display: list-item;
  @extend %typography-list-items;
}

code {
  @extend %typography-code-snippets;
}
