@import './styles/color-palette';
@import './styles/typefaces';
@import './styles/typography';

body {
  font-family: $font-stack-body;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-eerie-black-base;
}

.body-container {
  max-width: 1080px;
  margin: auto;
}
