@font-face {
  font-family: 'Neufile-Grotesk-Medium';
  src: url('assets/fonts/Neufile-Grotesk-Medium.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Sans-Regular';
  src: url('assets/fonts/Proxima-Sans-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Mono-Medium';
  src: url('assets/fonts/Roboto-Mono-Medium.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}